body{
    background-color: white ;
    text-align: center;
    font-family: 'Merriweather',serif ;
    margin: 0;
}
.top{
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}
.bottom{
    background-color: #66BFBF;
    padding: 40px 0 5px;
}
hr{
    border-style: none;
    border-top-style: dotted ;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #66BFBF ;
    font-family: 'Sacramento',cursive;
    margin: 55px auto 0 auto;
    font-size: 4.125rem;
}
h2{
    color: #66BFBF ;
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding: 15px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
}
h4{
    color: #EAF6F6;
    padding: 20px;
}
p{
    line-height: 2;
    color: #40514E;
}
.intro{
    width: 40%;
    margin: auto auto 50px auto;

}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: auto;
}
.contact{
    padding-bottom: 70px;
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.cloud1{
    position: absolute;
    right: 300px;
    top: 50px;
}
.cloud2{
    position: absolute;
    left: 300px;
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
}
a:hover{
    color: #EAF6F6;
}
.skill-rows{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
}
.basketball{
    width: 20%;
    float: left;
    margin-right: 20px;
}
.code{
    width: 20%;
    float: right;
    margin-left: 20px;
}
.rishek{
    margin-top: 80px;
}
.sug{
    margin: 40px auto 60px;
}
@media (max-width: 600px) {
    .mountain{
        width: 100%;
    }
    .cloud2{
        left: 50px;
    }
}
